:root {
  --form-purple: #54186E;
  --form-purple-hover: #7c43a0;
  --form-pink: #F66B97;
  --form-teal: #52AA97;
  --form-teal-opaque: rgba(214, 240, 235, 0.5);
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
